#gelen tüm istekleri index.php den karşılayalım. 
#RewriteEngine on
#RewriteRule ^$ index.php [QSA,L]

#RewriteRule ^login(.*)$ index.php?posta=$1?sifre=$1 [L,QSA]
# follow symlinks & disallow directory listing
    RewriteEngine on
    Header set Access-Control-Allow-Origin "*"

    RewriteCond %{REQUEST_URI} !$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ user.php [L]


