#gelen tüm istekleri index.php den karşılayalım. 
RewriteEngine on
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
RewriteRule ^user$ index.php [QSA,L]
RewriteRule ^kategori$ kategori.php [QSA,L]
RewriteRule ^soru$ soru.php [QSA,L]
RewriteRule ^cevap$ cevap.php [QSA,L]
RewriteRule ^soru/kategori$ soruKategori.php [QSA,L]
RewriteRule ^uyeler$ user.php [QSA,L]



