#gelen tüm istekleri index.php den karşılayalım. 
RewriteEngine on
Header set Access-Control-Allow-Origin "*"
RewriteRule ^user$ index.php [QSA,L]
RewriteRule ^kategori$ kategori.php [QSA,L]
RewriteRule ^soru$ soru.php [QSA,L]
RewriteRule ^cevap$ cevap.php [QSA,L]



